@tailwind base;
@tailwind components;
@tailwind utilities;

.links {
  transition: all ease 200ms;
}

.links:hover {
  background-color: #9b2c2c;
  transition: all ease 200ms;
  color: #f7fafc;
}

.pointer:hover {
  cursor: pointer;
}

.bg-red {
  position: relative;
  z-index: 1; /* matters! */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.342)
    ),
    url('../photos/red-wine.jpg');
  background-position: left center;
  background-size: cover;
  width: 50vw;
  height: 88vh;
}

.bg-red::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 88vh;
  background-size: cover;
  background-position: left center;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url('../photos/red-wine.jpg');
  opacity: 0;
  transition: opacity 0.4s;
  z-index: -1;
}

.bg-red:hover::before {
  opacity: 1;
  cursor: pointer;
}

.bg-white {
  position: relative;
  z-index: 1; /* matters! */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.342)
    ),
    url('../photos/white-wine.jpg');
  background-position: center center;
  background-size: cover;
  width: 50vw;
  height: 88vh;
}

.bg-white::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 88vh;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url('../photos/white-wine.jpg');
  opacity: 0;
  transition: opacity 0.4s;
  z-index: -1;
}

.bg-white:hover::before {
  opacity: 1;
  cursor: pointer;
}

.hero-text {
  font-size: 5.2rem;
  font-weight: bold;
  transition: ease all 0.4s;
  line-height: 1;
}

.bg-red:hover .hero-text {
  cursor: pointer;
}

.bg-white:hover .hero-text {
  cursor: pointer;
}

.view-all-hero:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .bg-red {
    width: 100vw;
    height: 50vh;
  }

  .bg-red::before {
    width: 100vw;
    height: 50vh;
  }

  .bg-white {
    width: 100vw;
    height: 50vh;
  }

  .bg-white::before {
    width: 100vw;
    height: 50vh;
  }
}
